.character-details {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 2rem 0;
  padding: 0 2rem;
  gap: 3.5rem;

  &__image {
    align-self: flex-start;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    flex-basis: 55%;
    flex-direction: column;
    gap: 0.5rem;
  }

  @media screen and (max-width: 910px) {
    flex-direction: column;
  }
}
