.login {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(100vh - 70px);

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 40%;
    height: 65%;

    background-color: $color-white;
    gap: 2.5rem;

    @media screen and (max-width: 910px) {
      height: 45%;
    }
  }

  &__button {
    display: flex;
    align-items: center;

    padding: 15px 25px;

    cursor: pointer;

    color: $color-white;
    border: none;
    border-radius: 5px;

    font-size: 1.2rem;
    font-weight: bold;
    gap: 0.5rem;

    svg {
      width: 20px;
      height: 20px;
    }

    @media screen and (max-width: 910px) {
      font-size: 0.7rem;
    }
  }

  &__title {
    color: $color-black;

    @media screen and (max-width: 910px) {
      font-size: 1.25rem;
    }
  }
}

.linkedin {
  background-color: $color-light-blue;
}

.facebook {
  background-color: $color-blue;
}
