.btn {
  padding: 0.5rem 1rem;

  cursor: pointer;
  transition: all 0.2s ease;

  border: none;
  border-radius: 12px;

  &--primary {
    color: $color-white;
    border: 2px solid $color-green-light;
    background-color: $color-green-light;

    font-weight: bold;

    &:hover {
      color: $color-green-light;
      background-color: transparent;
    }
  }

  &-outline-secondary {
    margin-left: -1px;

    color: #6c757d;
    border-color: #6c757d;
    border-radius: 0 0.25rem 0.25rem 0;

    font-weight: bold;

    &:hover {
      color: #fff;
      border-color: #6c757d;
      background-color: #6c757d;
    }
  }

  &--secondary {
    color: $color-white;
    border: 2px solid $color-red;
    background-color: $color-red;

    font-weight: bold;

    &:hover {
      color: $color-red;
      background-color: transparent;
    }
  }
}
