.btn {
  padding: .5rem 1rem;
  border-radius: 12px;
  border: none;
  transition: all .2s ease;
  cursor: pointer;

  &--primary {
    border: 2px solid $color-green-light;
    background-color: $color-green-light;
    color: $color-white;
    font-weight: bold;
    &:hover {
      color: $color-green-light;
      background-color: transparent;
    }
  }

  &-outline-secondary {
    margin-left: -1px;
    border-radius: 0 .25rem .25rem 0;

    color: #6c757d;
    border-color: #6c757d;
    font-weight: bold;
    &:hover {
      color: #fff;
      background-color: #6c757d;
      border-color: #6c757d;
    }
  }

  &--secondary {
    border: 2px solid $color-red;
    background-color: $color-red;
    color: $color-white;
    font-weight: bold;
    &:hover {
      color: $color-red;
      background-color: transparent;
    }
  }
}