.character-search {
  &__form {
    position: relative;

    margin: 1rem auto;
  }

  &__input {
    width: 300px;
    padding: 0.5rem 0;

    text-indent: 10px;

    color: $color-green-light;
    border: 1px solid $color-green-light;
    border-radius: 10px;
    outline: none;
    background: $color-blue-dark;

    &--active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    @media screen and (max-width: 910px) {
      width: 150px;
    }
  }

  &__results {
    position: absolute;
    z-index: 10;
    top: 34px;
    left: 0;

    overflow: hidden;
    overflow-y: auto;

    width: 300px;
    max-height: 200px;

    background-color: $color-blue-dark;
    box-shadow: rgb(17 12 46 / 15%) 0 48px 100px 0;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: $color-green-light;
    }

    @media screen and (max-width: 910px) {
      width: 170px;
    }
  }

  &__result {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    padding: 0.5rem;

    cursor: pointer;

    color: $color-white;

    img {
      width: 32px;
      height: 48px;
      object-fit: cover;
    }

    &:hover {
      background-color: $color-green-light;
    }
  }
}
