.characters {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  padding: 2rem;

  &__paginator {
    flex-basis: 25%;

    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;

    text-align: center;

    @media screen and (max-width: 910px) {
      width: 100%;
      padding: 1rem 0;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    width: 100%;
  }

  @media screen and (max-width: 910px) {
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 1rem;
  }
}
