.characters {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  @media screen and (max-width: 910px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__paginator {
    text-align: center;
    margin: 0 auto;
    flex-basis: 25%;
    padding: 1rem;
    max-width: 400px;

    @media screen and (max-width: 910px) {
      width: 100%;
      padding: 1rem 0;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
}
