.navbar {
  height: 70px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: flex;
    gap: 1.5rem;
  }

  &__link {
    color: #fff;
    position: relative;
    padding: 5px 0;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      transition: width 0.5s ease;
      height: 2px;
      background-color: #ff0000;
    }

    &:hover {
      color: red;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__link--active {
    &::after {
      width: 100%;
    }
  }
}
