* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #192a56;

  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

svg {
  cursor: pointer;
}

.error {
  align-self: center;
  flex-basis: 75%;

  text-align: center;

  color: red;
}
