$color-accent: #7b00f7;
$color-black: #000;
$color-white: #fff;
$color-gray-light-1: #e5e5e5;
$color-gray-light-2: #d1d1d1;
$color-gray-light-3: #a2a2a2;
$color-gray: #707070;
$color-green-light: #93ba37 ;
$color-brandLight: #105640;
$color-red: #de0055;
$color-dark-red: #cd0000;
$color-light-blue: #0084b1;
$color-blue: #507cc0;
$color-blue-dark: #273c75;
